---
import { useTranslations } from '../../i18n/utils';
import Skill from './Skill.astro';
import { mySkills } from './mySkills';

const t = useTranslations(Astro.url.pathname);

---

<div style={{ marginTop: "20px" }}>
  {mySkills.map((skill) => (
    <Skill title={skill.title} skills={skill.skills} />
  ))}
</div>