---
import styled from "@emotion/styled";
import ChipsWithIcon from "./ChipsWithIcon.astro";
import { type Skill } from "./technologies";

interface Props {
  title: string;
  skills: Skill[];
}

const Container = styled.div({
  display: "flex",
});

const TitleBox = styled.div({
  marginTop: "2px",
  minWidth: "100px",
  "@media (max-width: 425px)": {
    display: "none",
  },
});

const Title = styled.p({
  fontSize: "14px",
  margin: 0,
});

const SkillsBox = styled.div({
  maxWidth: "500px",
});

const { title, skills } = Astro.props;
---

<Container>
  <TitleBox>
    <Title>{title}</Title>
  </TitleBox>
  <SkillsBox>
    <ChipsWithIcon skills={skills} />
  </SkillsBox>
</Container>
