---
import { useTranslations } from '../../i18n/utils';
import Skill from './Skill.astro';
import { mySkills } from './mySkills';
import {type LocaType} from '../../i18n/utils';

const t = useTranslations(Astro.url.pathname);

---

<div style={{ marginTop: "20px" }}>
  {mySkills.map((skill) => (
    <Skill title={t(skill.title as LocaType)} skills={skill.skills} />
  ))}
</div>