---
import CV from "./../components/CV.astro";
---

<div>
    <link rel="canonical" href="https://ki-agent.de/de/" />
    <link rel="alternate" hreflang="de" href="https://ki-agent.de/de/" />
    <link rel="alternate" hreflang="en" href="https://ki-agent.de/en/" />
    <link rel="alternate" hreflang="x-default" href="https://ki-agent.de/" />
    <CV />
</div>

