---
import CV from "./../components/CV.astro";
---

<div>
    <link rel="canonical" href="https://cv.teufel-it/en/" />
    <link rel="alternate" hreflang="de" href="https://cv.teufel-it/de/" />
    <link rel="alternate" hreflang="en" href="https://cv.teufel-it/en/" />
    <link rel="alternate" hreflang="x-default" href="https://cv.teufel-it/" />
    <CV />
</div>
