---
import Layout from "./../layout/layout.astro";

const language = 'de'; // oder 'en', abhängig von deiner Logik

const matches = import.meta.glob('../mdx/**/footer.mdx', { eager: true });
const posts = Object.values(matches) as Array<{ frontmatter: { locale: string, name: string }, default: any }>;
const footer = posts.find(post => post.frontmatter.locale === language);

console.log(posts);
---

<Layout>
  <h1>Projects</h1>
  {footer ? (
    <div>
      <h2>{footer.frontmatter.name}</h2>
      <footer.default />
    </div>
  ) : (
    <p>No footer found for the selected language.</p>
  )}
</Layout>