---
import { getLangFromUrl } from "../i18n/utils";
import Layout from "./../layout/layout.astro";

const pathname = Astro.url.pathname;
const language = getLangFromUrl(pathname);

const matches = import.meta.glob('../mdx/**/footer.mdx', { eager: true });
const posts = Object.values(matches) as Array<{ frontmatter: { locale: string, name: string }, default: any }>;
const footer = posts.find(post => post.frontmatter.locale === language);

//console.log(posts);
---

<Layout>
  <h1>Projects</h1>
  {footer ? (
    <div>
      <h2>{footer.frontmatter.name}</h2>
      <footer.default id="testlol" name="hallo" />
    </div>
  ) : (
    <p>No footer found for the selected language.</p>
  )}
</Layout>