---
import Description from "./Description.astro";
import ProfileHeader from "./ProfileHeader.astro";
import Layout from "./../layout/layout.astro";
import Skills from "./skills/Skills.astro";
import Projects from "./Projects.astro";
import Footer from "./Footer.astro";
---

<Layout>
  <div class="reveal" style="--delay: 0s;">
    <ProfileHeader />
  </div>
  <div class="reveal" style="--delay: 0.15s;">
    <Description />
  </div>
  <div class="reveal" style="--delay: 0.3s;">
    <Skills />
  </div>
  <div class="reveal" style="--delay: 0.45s;">
    <Projects />
  </div>
  <div class="reveal" style="--delay: 0.6s;">
    <Footer />
  </div>
</Layout>
