---
import { version } from "./getVersion";
import { useTranslations } from "../i18n/utils";

const buildTime = new Date().toLocaleString('de-DE', {
  year: 'numeric',
  month: '2-digit',
  day: '2-digit',
  hour: '2-digit',
  minute: '2-digit',
  second: '2-digit',
  timeZone: 'Europe/Berlin',
  timeZoneName: 'short'
});
const t = useTranslations(Astro.url.pathname)
---

<style>
  .footer {
    margin-top: 20px;
    font-size: 0.9em;
    color: #555;
    text-align: center;
  }
  .version {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .source-link {
    color: #317EFB;
    text-decoration: none;
  }
  .source-link:hover {
    text-decoration: underline;
  }
</style>

<div class="footer">
  <span class="version">{t('generatedat')} {buildTime}, {t('version')} {version}</span>
  <a class="source-link" href="https://github.com/firsttris/astro-cv" target="_blank">Source Code</a>
</div>