---
import { importMdx } from "../mdx/utils";
import "./../mdx.css";
const Mdx = importMdx({ filename: "footer", pathname: Astro.url.pathname });
---

<div style={{ display: "flex", flexDirection: "column", alignItems: "center" }}>
  <Mdx />
</div>
