---
const { href, ...props } = Astro.props;
---

<style>
  .styled-link {
    text-decoration: none;
    color: #1976d2;
  }
  .styled-link:hover {
    text-decoration: underline;
  }
</style>

<a class="styled-link" href={href} {...props}></a>