---
import { importMdx } from "../mdx/utils";
import './../mdx/mdx.css';
const Mdx = importMdx({ filename: "open-source", pathname: Astro.url.pathname });
---

<div style={{ marginTop: "20px" }}>
  <Mdx />
</div>