---
import styled from "@emotion/styled";
import { useTranslations } from "../i18n/utils";
import Profile from "./../images/profil.png";
import Ghibli from "./../images/ghibli.png";
import { Icon } from "astro-icon/components";
import { Typography } from "./Typography";
import ImageSwap from "./ImageSwap.astro";

const t = useTranslations(Astro.url.pathname);

const ContainerBox = styled.div({
  marginTop: "20px",
  display: "flex",
  "@media (max-width: 960px)": {
    flexDirection: "column",
  },
  "@media print": {
    flexDirection: "row",
  },
});

const ImageBox = styled.div({
  borderRadius: "5px",
  display: "inline-flex",
  boxShadow:
    "rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px",
});

const ContactBox = styled.div({
  display: "flex",
  alignItems: "center",
  gap: "5px",
});

const ContentBox = styled.div({
  display: "flex",
  flexDirection: "column",
  justifyContent: "center",
  gap: "20px",
  margin: "10px",
  width: "100%",
  "@media (max-width: 960px)": {
    marginTop: "20px",
  },
});

const Grid = styled.div({
  display: "flex",
  gap: "15px",
  margin: "0 auto",
});

const Column = styled.div({
  display: "flex",
  flexDirection: "column",
  gap: "5px",
});

const Link = styled.a({
  textDecoration: "none",
  color: "#1976d2",
});
---

<ContainerBox>
  <div style={{ display: "flex", justifyContent: "center" }}>
    <ImageSwap
    frontImage={Ghibli}
    backImage={Profile}
    altFront="Ghibli Style"
    altBack="Real Image"
    width={240}
  />
  </div>
  <ContentBox>
    <div
      style={{ textAlign: "center", display: "flex", flexDirection: "column" }}
    >
      <Typography className="h3"> Tristan Teufel </Typography>
      <Typography className="h5">
        {t("business-title")}
      </Typography>
      <Typography className="caption">
        {t("academic-title")}
      </Typography>
    </div>
    <Grid>
      <Column>
        <ContactBox>
          <Icon name="openmoji:envelope" font-size={25} />
          <Link href="mailto:info@teufel-it.de" rel="noopener" target="_blank">
            <Typography className="body1">info@teufel-it.de</Typography>
          </Link>
        </ContactBox>
        <ContactBox>
          <Icon name="openmoji:mobile-phone" font-size={25} />
          <Link href="tel:+49 176 457 44166" rel="noopener" target="_blank">
            <Typography className="body1">+49 176 457 44166</Typography>
          </Link>
        </ContactBox>
      </Column>
      <Column>
        <ContactBox>
          <Icon name="openmoji:github" font-size={25} />
          <Link
            href="http://github.com/firsttris"
            rel="noopener"
            target="_blank"
          >
            <Typography className="body1">Github</Typography>
          </Link>
        </ContactBox>
        <ContactBox>
          <Icon name="openmoji:linkedin" font-size={25} />
          <Link
            href="http://de.linkedin.com/in/tristanteufel"
            rel="noopener"
            target="_blank"
          >
            <Typography className="body1">Linkedin</Typography>
          </Link>
        </ContactBox>
      </Column>
    </Grid>
  </ContentBox>
</ContainerBox>
