---
import { importMdx } from "../mdx/utils";
import "./../mdx.css";
const Mdx = importMdx({ filename: "projects", pathname: Astro.url.pathname });
---

<div style={{ marginTop: "20px" }}>
  <Mdx />
</div>
