---
import "@fontsource/roboto/300.css";
import "@fontsource/roboto/400.css";
import "@fontsource/roboto/500.css";
import "@fontsource/roboto/700.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Astro-CV</title>
  </head>
  <body>
    <div class="container">
      <slot />
    </div>
  </body>
</html>
<style>
  body {
    font-family: "Roboto", sans-serif;
  }

  @media print {
    @page {
      size: portrait;
    }
  }

  .container {
    max-width: 852px; /* md */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    gap: 20px;
  }
</style>
